{% extends 'PfeWebBundle:Backend:layout.html.twig' %}

{% block title_head -%}
    Show Page
{% endblock %}

{% block title_page -%}
    <i class="fa fa-file-o"></i> Show Page
{% endblock %}

{% block content -%}
    <h1>Page</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ entity.token }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ entity.template }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pfe_page') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pfe_page_edit', { 'token': entity.token }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
