{% extends "PfeWebBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title_page %}
    Login
{% endblock %}

{% block content %}

    <div class="col-md-12 cotact">
        <div class="boxes">
            <div class="row">
                <div class="col-md-6">
                    <div class="boxes-title">
                        <span><i class="icon-user"></i></span>
                        <h5>Se connecté</h5>
                        {% if error %}
                            <p>{{ error|trans }}</p>
                        {% endif %}
                    </div>

                    <form role="form" action="{{ path("customer_security_login_check") }}" method="post" class="form-contact">
                        <fieldset>
                            <div class="form-group">
                                <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control name"/>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" id="password" name="_password" required="required" class="form-control name"/>
                            </div>
                        </fieldset>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <button class="btn btn-details"><i class="icon-forward"></i>{{ 'security.login.submit'|trans }}</button>

                    </form>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-6">
                    <div class="boxes-title">
                        <span><i class="icon-user"></i></span>
                        <h5>Come to visit us!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
